     # Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environments
venv/
env/
.venv/

# IDE files
.idea/
.vscode/
*.iml

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env
*.env

bank_widget dz.zip
